<div class="ui inverted  text-center mt-5 footer">
    <div class="ui container">
        <p class="text-3xl text-gray-900"> Blackboard Learn</p>
        <small> Emma @2022 All Rights Reserved </small>
    </div>
</div>