<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/public/output.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>USIU Learning Management System</title>

</head>

<body>

<!-- NAVBAR -->


<header class=" sticky top-0 z-30">
    <nav class="bg-white border-gray-200 dark:bg-gray-900 bg-gradient-to-r from-yellow-400 to-purple-900">
        <div class="flex flex-wrap justify-between item mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
            <a href="#" class="flex items-center">
                <img class="w-13 mr-3 h-7 sm:h-9" src="./public/img/usiu1.png" alt="" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">United States International University</span>
            </a>

            <i class="fa fa-sign-out" style="font-size:30px;color:black"></i>

        </div>
    </nav>
    <nav class="bg-gray-50 dark:bg-gray-700 bg-gradient-to-r from-yellow-400 to-purple-900">
        <div class="py-3 px-4 mx-auto max-w-screen-xl md:px-6">
            <div class="flex items-center">
                <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
                    <li>
                        <a class="item text-gray-900 dark:text-white hover:underline text-xl" href="/home">

                            Home
                        </a>

                    </li>
                    <li class="gap-1">

                        <i class="fa fa-user" style="font-size:16px;color:black"></i>


                        <a class="item text-gray-900 dark:text-white hover:underline text-xl" href="/lecturer">
                            Lecturer

                        </a>


                    </li>




                </ul>
            </div>
        </div>
    </nav>
    <!--End of Nabar-->
</header>