<%- include('./partials/header.ejs') %>
<main>
    <div class="ui segment">

        <section class="h-full gradient-form md:h-screen>
            <%- include('./partials/login.ejs') %>
           </section>



            <!--Render Single variable-->
            <h2></h2>
            <p>

            </p>



        </div>
    </main>


    <footer>
        <%- include('./partials/footer.ejs') %>

    </footer>

    </body>

    </html>
